.fade-in {
  opacity: 1;
  transition: opacity 0.7s ease-in-out; /* Decreased duration to make it faster */
}

/* Initially hide the card */
.fade-in:not(.visible) {
  opacity: 0;
}

.btn {
  background-color: #073b4c;
}

.btn:hover {
  background-color: #118ab2;
}
