.specification-container {
  z-index: -1;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 1;
  transform: translateY(0);
}

.specification-container.hidden {
  opacity: 0;
  transform: translateY(-100%);
}
